/*body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}*/


body {
	height: 1000px;
	min-width: 961px;
}

.wrap {
	width: 100%;
	height: 100%;
}

.footer
{
	padding-bottom: 30px;
	background-color: #edeff1;
	border-bottom: 1px solid #cccccc;
	border-top: 1px solid #dddddd;
	height: auto;
	width: 100%;
	position: relative;
}

.footer-bottom {
	background-color: #e3e3e3;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
	padding-left: 10px;
}

@media(min-width:768px) {
	.wrap {
		min-width: 962px;
		margin-top: 80px;
	}
	.navbar {
		min-width: 962px;
		height: 40px;
	}
	.logo {
		padding: 0;
		margin: 0;
		height: 40px;
		margin-top: -10px;
	}
	.panel {
		min-height: 400px;
	}
}

@media(min-width:1200px) {
	.wrap {
		margin-top: 100px;
	}
	.navbar {
		background-color: black;
		height: 80px;
		padding-top: 15px;
	}
	.logo {
		padding: 0;
		margin-top: -20px;
		height: 50px;
	}
}
